/backend/venv/
/backend/app/__pycache__/
/backend/app/services/__pycache__/
/backend/training/__pycache__/
/backend/tests/__pycache__/
/backend/.env
/.vscode/
/datasets/raw/450k URL.csv
/datasets/raw/legitimate_url.txt
/datasets/raw/phishing_url.txt
/datasets/raw/phishing_email.csv
/datasets/processed/phishing_urls.csv
/datasets/processed/text_messages.csv
